/* importo bootstrap dalla cartella node_modules usando l'alias settato in vite.config.js */
@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #311852;
    color: white;
}

header,
footer {
    width: 100%;
    color: white;
    background-color: #4d36dc;
}

.card{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .info{
        display: none;
    }

    &:hover img{
        display: none;
    }
    &:hover .info{
        display: block;
    }
}


